  # ============================================
  # 环境变量配置(举例)
  # ============================================



    # ============================================
    # MySQL 数据库配置（重要！）
    # ============================================
    DB_ROOT_PASSWORD=your_root_password
    DB_DATABASE=mall
    DB_USER=mall
    DB_PASSWORD=your_db_password

  # ============================================
  # Redis 配置
  # ============================================
    REDIS_HOST=redis                    # 如果用 docker-compose 的 redis 服务
    REDIS_PORT=6379
    REDIS_PASSWORD=                        # 如果有密码就填，没有就留空


  # ============================================
  # RabbitMQ 配置
  # ============================================
  RABBITMQ_USER=mall
  RABBITMQ_PASSWORD=your_rabbitmq_password
  RABBITMQ_VHOST=/
